Agents/Agent s mini/WF-5.json
{
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "filters": {
                    "readStatus": "unread"
                }
            },
            "id": "ad4cc4f5-eb44-4a63-80e0-210e0ba132c0",
            "name": "Gmail Trigger Reponses",
            "type": "n8n-nodes-base.gmailTrigger",
            "typeVersion": 1,
            "position": [
                -1504,
                160
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "828XrCCD0S4lNRT0",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT p.id, p.nom, p.email, p.telephone, p.linkedin_url, p.secteur, p.score_pertinence, p.type, p.description, p.chat_id, e.objet as dernier_objet, e.corps as dernier_corps FROM prospects p LEFT JOIN emails_log e ON e.prospect_id = p.id WHERE LOWER(p.email) = LOWER('{{ $json.from }}') AND p.statut IN ('email_envoye', 'relance_1', 'relance_2') ORDER BY e.date_envoi DESC LIMIT 1",
                "options": {}
            },
            "id": "038e31da-2bbe-44ab-94d4-f6c1c0d7a403",
            "name": "PostgreSQL Identifier Prospect Repondant",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                -1248,
                160
            ],
            "credentials": {
                "postgres": {
                    "id": "TRtaTGQNB10KiwWa",
                    "name": "Postgres agent_s"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "cond-known",
                            "leftValue": "={{ $input.all().length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "3da4b622-ae77-49d0-97c2-e23678b3d52c",
            "name": "IF Prospect Connu",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -1008,
                160
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.deepseek.com/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {}
                    ]
                },
                "options": {}
            },
            "id": "99c62cc3-a7fc-4476-b264-8a17a21aa163",
            "name": "DeepSeek Analyser Reponse",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -752,
                112
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Fi7piKShxfsxAA0V",
                    "name": "Header Auth agent_s"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nconst prospect = $('PostgreSQL Identifier Prospect Repondant').first().json;\nconst gmailData = $('Gmail Trigger Reponses').first().json;\n\nlet analyse;\ntry {\n  const clean = content.replace(/```json|```/g, '').trim();\n  analyse = JSON.parse(clean);\n} catch(e) {\n  analyse = {\n    intention: 'question',\n    niveau_interet: 'tiède',\n    resume: 'Analyse indisponible',\n    propose_creneau: false,\n    creneau_brut: null,\n    action_index: 3\n  };\n}\n\n// S'assurer que action_index est bien un entier\nif (typeof analyse.action_index !== 'number') {\n  analyse.action_index = 3;\n}\n\nreturn [{\n  json: {\n    ...prospect,\n    ...analyse,\n    gmail_message_id: gmailData.id || '',\n    gmail_thread_id: gmailData.threadId || '',\n    corps_reponse: (gmailData.text || gmailData.snippet || '').substring(0, 1000),\n    objet_reponse: gmailData.subject || ''\n  }\n}];"
            },
            "id": "032f458d-8ee5-4e68-8e61-4a2697d6daf5",
            "name": "Extraire Intention Reponse",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -496,
                112
            ]
        },
        {
            "parameters": {
                "mode": "expression",
                "output": "={{ $json.action_index }}"
            },
            "id": "1b3e7d1b-9b76-44c1-a890-b58a95c600d2",
            "name": "Switch Sur Action",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                -256,
                112
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.deepseek.com/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {}
                    ]
                },
                "options": {}
            },
            "id": "e9caca77-1c2c-418b-939f-283c32d0238d",
            "name": "DeepSeek Proposer Creneaux",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                0
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Fi7piKShxfsxAA0V",
                    "name": "Header Auth agent_s"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "={{ $('Extraire Intention Reponse').first().json.email }}",
                "subject": "={{ 'Re: ' + $('Extraire Intention Reponse').first().json.objet_reponse }}",
                "emailType": "text",
                "message": "={{ $json.choices[0].message.content }}",
                "options": {
                    "appendAttribution": false
                }
            },
            "id": "af5dd70f-42b3-4096-a826-051c6b74fb3a",
            "name": "Gmail Envoyer Proposition Creneaux",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                256,
                0
            ],
            "webhookId": "ae5dc060-2da0-4d1b-87f2-58e53eb1ba72",
            "credentials": {
                "gmailOAuth2": {
                    "id": "828XrCCD0S4lNRT0",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "=7993226930",
                "text": "=🔥 *Prospect intéressé — Créneaux envoyés !*\n\n👤 *{{ $('Extraire Intention Reponse').first().json.nom }}*\n📧 {{ $('Extraire Intention Reponse').first().json.email }}\n⭐ Score : {{ $('Extraire Intention Reponse').first().json.score_pertinence }}/10\n\n💬 _{{ $('Extraire Intention Reponse').first().json.resume }}_\n\n✉️ Proposition de créneaux envoyée automatiquement.",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "f3a53911-d432-43a8-99c2-7011825c2f34",
            "name": "Telegram Notif Prospect Interesse",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                512,
                0
            ],
            "webhookId": "b97fbd4e-5ede-49c4-9bd5-48a98133644b",
            "credentials": {
                "telegramApi": {
                    "id": "zqN4TcHqzsYwQR24",
                    "name": "Telegram agent_s"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE prospects SET statut = 'interesse', notes = COALESCE(notes, '') || ' | Réponse positive le ' || NOW()::date WHERE id = $1",
                "options": {
                    "queryBatching": "independently",
                    "queryReplacement": "={{ $('Extraire Intention Reponse').first().json.id }}"
                }
            },
            "id": "66b4c429-57f6-4ed9-8fed-55e37494e8a8",
            "name": "PostgreSQL MAJ Statut Interesse",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                752,
                0
            ],
            "credentials": {
                "postgres": {
                    "id": "TRtaTGQNB10KiwWa",
                    "name": "Postgres agent_s"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE prospects SET statut = 'desabonne', notes = COALESCE(notes, '') || ' | Désabonnement le ' || NOW()::date WHERE id = $1",
                "options": {
                    "queryBatching": "independently",
                    "queryReplacement": "={{ $json.id }}"
                }
            },
            "id": "c528747d-6e2f-4b33-ab96-a16cf48b915d",
            "name": "PostgreSQL Marquer Desabonne",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                0,
                208
            ],
            "credentials": {
                "postgres": {
                    "id": "TRtaTGQNB10KiwWa",
                    "name": "Postgres agent_s"
                }
            }
        },
        {
            "parameters": {
                "chatId": "7993226930",
                "text": "=⛔ *Désabonnement — Séquence stoppée*\n\n👤 *{{ $json.nom }}* ({{ $json.email }})\n\n_Marqué désabonné en base. Aucune relance ne lui sera envoyée._",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "096ca688-62f6-4ef2-8471-3c5c304c8e95",
            "name": "Telegram Notif Desabonnement",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                256,
                208
            ],
            "webhookId": "7cc6a344-6fbf-4ca7-a1bb-d7ae09a210d3",
            "credentials": {
                "telegramApi": {
                    "id": "zqN4TcHqzsYwQR24",
                    "name": "Telegram agent_s"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE prospects SET statut = 'refus', notes = COALESCE(notes, '') || ' | Refus le ' || NOW()::date WHERE id = $1",
                "options": {
                    "queryBatching": "independently",
                    "queryReplacement": "={{ $json.id }}"
                }
            },
            "id": "0ec87d49-f1c8-4cd0-b0ca-75597da2e482",
            "name": "PostgreSQL Marquer Refus",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                0,
                352
            ],
            "credentials": {
                "postgres": {
                    "id": "TRtaTGQNB10KiwWa",
                    "name": "Postgres agent_s"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.deepseek.com/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {}
                    ]
                },
                "options": {}
            },
            "id": "7457e4a9-bf27-4287-b787-179b6b0d252b",
            "name": "DeepSeek Repondre Message",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                512
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Fi7piKShxfsxAA0V",
                    "name": "Header Auth agent_s"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "={{ $('Extraire Intention Reponse').first().json.email }}",
                "subject": "={{ 'Re: ' + $('Extraire Intention Reponse').first().json.objet_reponse }}",
                "emailType": "text",
                "message": "={{ $json.choices[0].message.content }}",
                "options": {
                    "appendAttribution": false
                }
            },
            "id": "b82fb4c1-e5f4-4b10-869e-c9a7c3242a15",
            "name": "Gmail Repondre Au Prospect",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                256,
                512
            ],
            "webhookId": "44f767b7-7606-41a4-8628-0766434cc126",
            "credentials": {
                "gmailOAuth2": {
                    "id": "828XrCCD0S4lNRT0",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "=7993226930",
                "text": "=💬 *Réponse automatique envoyée*\n\n👤 *{{ $('Extraire Intention Reponse').first().json.nom }}*\n🎯 Intention : `{{ $('Extraire Intention Reponse').first().json.intention }}`\n📊 Intérêt : `{{ $('Extraire Intention Reponse').first().json.niveau_interet }}`\n\n_{{ $('Extraire Intention Reponse').first().json.resume }}_",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "2b94bd6b-f4b2-4264-952d-da479ad63ae5",
            "name": "Telegram Notif Reponse Envoyee",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                512,
                512
            ],
            "webhookId": "533447bf-d4a4-41f0-abb9-a1c7619ec9b0",
            "credentials": {
                "telegramApi": {
                    "id": "zqN4TcHqzsYwQR24",
                    "name": "Telegram agent_s"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 8 * * 2,3,4"
                        }
                    ]
                }
            },
            "id": "577ce92c-5c20-46b4-8527-f71de18721f9",
            "name": "Schedule Relances Mardi Mercredi Jeudi 8h",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -1504,
                752
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT p.id, p.nom, p.email, p.type, p.secteur, p.localisation, p.score_pertinence, p.description, p.statut, p.chat_id, e.objet as dernier_objet, e.corps as dernier_corps, e.date_envoi as date_dernier_email FROM prospects p LEFT JOIN LATERAL (SELECT objet, corps, date_envoi FROM emails_log WHERE prospect_id = p.id ORDER BY date_envoi DESC LIMIT 1) e ON true WHERE p.statut IN ('email_envoye', 'relance_1') AND p.email IS NOT NULL AND e.date_envoi < NOW() - INTERVAL '3 days' AND e.date_envoi > NOW() - INTERVAL '21 days' ORDER BY p.score_pertinence DESC, e.date_envoi ASC",
                "options": {}
            },
            "id": "f1ff2ad1-5488-40ca-8745-575d9a6cb7ad",
            "name": "PostgreSQL Charger A Relancer",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                -1248,
                752
            ],
            "credentials": {
                "postgres": {
                    "id": "TRtaTGQNB10KiwWa",
                    "name": "Postgres agent_s"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "cond-relance",
                            "leftValue": "={{ $input.all().length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "b3fabcdb-298a-43e6-aa2f-3fc1c958d183",
            "name": "IF Des Prospects A Relancer",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -1008,
                752
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "f8cf0d22-519f-44da-beff-6e97702df44a",
            "name": "Split Boucle Relances",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -752,
                752
            ]
        },
        {
            "parameters": {
                "amount": "={{ Math.floor(Math.random() * 90) + 45 }}"
            },
            "id": "7c16777f-5bb7-47ce-b73e-738b6f8a91d4",
            "name": "Wait Anti-Spam Relance",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -496,
                752
            ],
            "webhookId": "1523d98d-fe10-4e70-b7ec-ef0c6d242fd2"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.deepseek.com/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {}
                    ]
                },
                "options": {}
            },
            "id": "2e728b97-cd1a-4ab3-afa1-581b7aef2dc5",
            "name": "DeepSeek Generer Email Relance",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -256,
                752
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Fi7piKShxfsxAA0V",
                    "name": "Header Auth agent_s"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nconst prospect = $('Split Boucle Relances').first().json;\n\nlet emailData;\ntry {\n  const clean = content.replace(/```json|```/g, '').trim();\n  emailData = JSON.parse(clean);\n} catch(e) {\n  throw new Error('Parsing relance failed: ' + content.substring(0, 200));\n}\n\nconst prochainStatut = prospect.statut === 'email_envoye' ? 'relance_1' : 'relance_2';\nconst typeEmail = prospect.statut === 'email_envoye' ? 'relance_1' : 'relance_2_breakup';\n\nreturn [{\n  json: {\n    prospect_id: prospect.id,\n    prospect_email: prospect.email,\n    prospect_nom: prospect.nom,\n    chat_id: prospect.chat_id || '',\n    email_objet: emailData.objet,\n    email_corps: emailData.corps,\n    prochain_statut: prochainStatut,\n    type_email: typeEmail\n  }\n}];"
            },
            "id": "b979f96d-b5d8-46a0-8a7d-b6c223be0f95",
            "name": "Extraire Email Relance",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                752
            ]
        },
        {
            "parameters": {
                "sendTo": "={{ $json.prospect_email }}",
                "subject": "={{ $json.email_objet }}",
                "emailType": "text",
                "message": "={{ $json.email_corps }}",
                "options": {
                    "appendAttribution": false
                }
            },
            "id": "29c4af75-3427-4f68-8e55-0d533b5b2ff3",
            "name": "Gmail Envoyer Relance",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                256,
                752
            ],
            "webhookId": "7fce4c43-2c21-431e-a22f-630d7ec3b1df",
            "credentials": {
                "gmailOAuth2": {
                    "id": "828XrCCD0S4lNRT0",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE prospects SET statut = $1, date_contact = NOW() WHERE id = $2",
                "options": {
                    "queryBatching": "independently",
                    "queryReplacement": "={{ [$json.prochain_statut, $json.prospect_id].join(',') }}"
                }
            },
            "id": "e07bdc39-1df7-4591-8104-382e1de21e04",
            "name": "PostgreSQL MAJ Statut Relance",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                512,
                752
            ],
            "credentials": {
                "postgres": {
                    "id": "TRtaTGQNB10KiwWa",
                    "name": "Postgres agent_s"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO emails_log (prospect_id, type_email, objet, corps, date_envoi, statut_envoi) VALUES ($1, $2, $3, $4, NOW(), 'envoye')",
                "options": {
                    "queryBatching": "independently",
                    "queryReplacement": "={{ [$json.prospect_id, $json.type_email, $json.email_objet, $json.email_corps].join('|||') }}"
                }
            },
            "id": "f53794b5-a879-4d12-a93a-c00a5d5eba0e",
            "name": "PostgreSQL Log Relance",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                752,
                752
            ],
            "credentials": {
                "postgres": {
                    "id": "TRtaTGQNB10KiwWa",
                    "name": "Postgres agent_s"
                }
            }
        },
        {
            "parameters": {
                "mode": "passThrough",
                "options": {}
            },
            "id": "e5f18573-5414-4789-84aa-8957309b552d",
            "name": "Merge Retour Boucle Relance",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2.1,
            "position": [
                1008,
                752
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE prospects SET statut = 'abandonne' WHERE statut = 'relance_2' AND date_contact < NOW() - INTERVAL '10 days'",
                "options": {}
            },
            "id": "7dd0b45f-964d-4079-bd37-de352e0bfa45",
            "name": "PostgreSQL Archiver Prospects Froids",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                -752,
                960
            ],
            "credentials": {
                "postgres": {
                    "id": "TRtaTGQNB10KiwWa",
                    "name": "Postgres agent_s"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT COUNT(*) FILTER (WHERE statut = 'email_envoye') as en_attente, COUNT(*) FILTER (WHERE statut IN ('relance_1','relance_2')) as en_relance, COUNT(*) FILTER (WHERE statut = 'interesse') as interesses, COUNT(*) FILTER (WHERE statut = 'appel_planifie') as rdv_planifies, COUNT(*) FILTER (WHERE statut = 'abandonne' AND date_contact >= CURRENT_DATE - INTERVAL '1 day') as abandonnes_aujourd_hui FROM prospects",
                "options": {}
            },
            "id": "4db2eb3a-61f5-4118-9593-2433c7a785e9",
            "name": "PostgreSQL Stats Quotidiennes",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                -496,
                960
            ],
            "credentials": {
                "postgres": {
                    "id": "TRtaTGQNB10KiwWa",
                    "name": "Postgres agent_s"
                }
            }
        },
        {
            "parameters": {
                "chatId": "7993226930",
                "text": "=📊 *Rapport quotidien*\n\n📧 En attente de réponse : *{{ $json.en_attente }}*\n🔄 En cours de relance : *{{ $json.en_relance }}*\n🔥 Prospects intéressés : *{{ $json.interesses }}*\n📅 RDV planifiés : *{{ $json.rdv_planifies }}*\n❄️ Archivés aujourd'hui : *{{ $json.abandonnes_aujourd_hui }}*",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "a894c826-f8b3-4e65-b23d-c8b85f9752cb",
            "name": "Telegram Rapport Quotidien",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                -256,
                960
            ],
            "webhookId": "b054db26-fe71-4035-bd42-cb6454f09f51",
            "credentials": {
                "telegramApi": {
                    "id": "zqN4TcHqzsYwQR24",
                    "name": "Telegram agent_s"
                }
            }
        }
    ],
    "connections": {
        "Gmail Trigger Reponses": {
            "main": [
                [
                    {
                        "node": "PostgreSQL Identifier Prospect Repondant",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgreSQL Identifier Prospect Repondant": {
            "main": [
                [
                    {
                        "node": "IF Prospect Connu",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Prospect Connu": {
            "main": [
                [
                    {
                        "node": "DeepSeek Analyser Reponse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DeepSeek Analyser Reponse": {
            "main": [
                [
                    {
                        "node": "Extraire Intention Reponse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extraire Intention Reponse": {
            "main": [
                [
                    {
                        "node": "Switch Sur Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Sur Action": {
            "main": [
                [
                    {
                        "node": "DeepSeek Proposer Creneaux",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "PostgreSQL Marquer Desabonne",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "PostgreSQL Marquer Refus",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "DeepSeek Repondre Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DeepSeek Proposer Creneaux": {
            "main": [
                [
                    {
                        "node": "Gmail Envoyer Proposition Creneaux",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail Envoyer Proposition Creneaux": {
            "main": [
                [
                    {
                        "node": "Telegram Notif Prospect Interesse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Notif Prospect Interesse": {
            "main": [
                [
                    {
                        "node": "PostgreSQL MAJ Statut Interesse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgreSQL Marquer Desabonne": {
            "main": [
                [
                    {
                        "node": "Telegram Notif Desabonnement",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DeepSeek Repondre Message": {
            "main": [
                [
                    {
                        "node": "Gmail Repondre Au Prospect",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail Repondre Au Prospect": {
            "main": [
                [
                    {
                        "node": "Telegram Notif Reponse Envoyee",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Relances Mardi Mercredi Jeudi 8h": {
            "main": [
                [
                    {
                        "node": "PostgreSQL Charger A Relancer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgreSQL Charger A Relancer": {
            "main": [
                [
                    {
                        "node": "IF Des Prospects A Relancer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Des Prospects A Relancer": {
            "main": [
                [
                    {
                        "node": "Split Boucle Relances",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "PostgreSQL Archiver Prospects Froids",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Boucle Relances": {
            "main": [
                [
                    {
                        "node": "Wait Anti-Spam Relance",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait Anti-Spam Relance": {
            "main": [
                [
                    {
                        "node": "DeepSeek Generer Email Relance",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DeepSeek Generer Email Relance": {
            "main": [
                [
                    {
                        "node": "Extraire Email Relance",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extraire Email Relance": {
            "main": [
                [
                    {
                        "node": "Gmail Envoyer Relance",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail Envoyer Relance": {
            "main": [
                [
                    {
                        "node": "PostgreSQL MAJ Statut Relance",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgreSQL MAJ Statut Relance": {
            "main": [
                [
                    {
                        "node": "PostgreSQL Log Relance",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgreSQL Log Relance": {
            "main": [
                [
                    {
                        "node": "Merge Retour Boucle Relance",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Retour Boucle Relance": {
            "main": [
                [
                    {
                        "node": "Split Boucle Relances",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgreSQL Archiver Prospects Froids": {
            "main": [
                [
                    {
                        "node": "PostgreSQL Stats Quotidiennes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgreSQL Stats Quotidiennes": {
            "main": [
                [
                    {
                        "node": "Telegram Rapport Quotidien",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "39e70ee0880d01650d204969036230350e755320fdd8b6bc8a0de1cba20f6297"
    }
}